.docs-header-background {
  overflow: hidden;
  background: #C21847;
  height: 100%;
}
.docs-header-section {
  text-align: center;
  padding-top: 33vh;
}
header {
  display: block;
}

div {
  display: block;
}
.docs-header-headline {
  color: hsla(0, 0%, 100%, 0.87);
}
.docs-header-start,
.docs-homepage-bottom-start {
  text-align: center;
  margin: 60px 0;
}
