<mat-toolbar color="primary" class="header-toolbar mat-elevation-z8">
  <button mat-icon-button (click)='openSideNav()'>
    <mat-icon>menu</mat-icon>
  </button>
  <button routerLink='/dashbard' mat-button>Angular Firebase App</button>

  <span class="fill-remaining-space"></span>

  <span>
    <button mat-icon-button class='white-icon'>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class='white-icon'>
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button disabled=true>
      <mat-icon class="white-icon rotate-90">remove</mat-icon>
    </button>

    <span *ngIf='auth.user | async ;then authenticated else guest'></span>
    <ng-template #guest>
      <button mat-icon-button routerLink='/login'>Login</button>
    </ng-template>
    <ng-template #authenticated>
      <button mat-icon-button class='white-icon' [matMenuTriggerFor]="menu" [matTooltip]="userName">
        <img [src]="profilePic" [alt]="userName" class='profile-pic'>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)='logOut()'>
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-template>
  </span>
</mat-toolbar>
