<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="mat-body-2">
        Login Form
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class='form-container'>
      <mat-form-field>
        <input type='text' matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input type='password' matInput placeholder="Password">
      </mat-form-field>
    </form>
    <button mat-raised-button color='primary'>Login</button>
    <button mat-raised-button color='accent'>Register</button>
    <button mat-raised-button color='warn' (click)='loginWithGoogle()'>Login with google</button>
  </mat-card-content>
</mat-card>
